<form>
<input type="hidden" id="base_url" value="{{url('homepage')}}"></input>
<table>
<tr>
<td>
Free text:
</td>
<td>
<select id="elastic_search_freetext" class="select2 memoryforfacet" style='width:300px'></select>
</td>
<td>
</td>
<td>
<input type="button" id="toogle_details" name="toggle_details" value="Detailed Search"></input>
</td>
</tr>
<tr class="detailed_search" style="display:none">
<td>
	Institution:
</td>
<td>
	<select id="elastic_search_institution" class="select2 memoryforfacet" multiple="multiple" style='width:300px' ></select>
	<div id="elastic_search_institution_history"></div>
</td>
</tr>
<tr class="detailed_search" style="display:none">
<td>
	Collection:
</td>
<td>
	<select id="elastic_search_collection" class="select2 memoryforfacet" multiple="multiple" style='width:300px' ></select>
	<div id="elastic_search_collection_history"></div>
</td>
</tr>
<tr class="detailed_search" style="display:none">
<td>
	What:
</td>
<td>
	<select id="elastic_search_what" class="select2 memoryforfacet" multiple="multiple" style='width:300px' ></select>
	<div id="elastic_search_what_history"></div>
</td>
</tr>
</tr>
<tr class="detailed_search" style="display:none">
<td>
	Who:
</td>
<td>
	<select id="elastic_search_who" class="select2 memoryforfacet" multiple="multiple" style='width:300px' ></select>
	<div id="elastic_search_who_history"></div>
</td>
</tr>
<tr class="detailed_search" style="display:none">
<td>
	Where:
</td>
<td>
	<select id="elastic_search_where" class="select2 memoryforfacet" multiple="multiple" style='width:300px' ></select>
	<div id="elastic_search_where_history"></div>
   
</td>
</tr>
<tr class="detailed_search" style="display:none">
<td>
	When (begin date):
</td>
<td>
	 <input id="elastic_search_when_start" class="date_picker_nh memoryforfacet" data-provide="datepicker">
</td>
<td>
	When (end date):
</td>
<td>
	 <input id="elastic_search_when_end" class="date_picker_nh memoryforfacet" data-provide="datepicker">
</td>
</tr>
</table>
</div>
<br/>
<div class="detailed_search" style="display:none">
</div>
{% if map == "on" %}
    {% include 'NaturalheritageSearchBundle:Default:map.html.twig' %}
{% endif %}

<br/>
 <button type="button" id="solr_search" class="nh_submit">Search</button> 
</form>

<div id="result_search">
</div>


</body>
<script language="javascript">
var hide_details=false;
var route;
$(document).ready(
	
	function()
	{

		route=$("#base_url").val();
		$("#toogle_details").click(
			function()
			{

				hide_details=!hide_details;
				if(hide_details)
				{
					$(".detailed_search").show();
					MAP.map.updateSize();
				}
				else
				{
					$(".detailed_search").hide();
				}
			}
		);

		$('#elastic_search_freetext').select2({
				//width: "300px",
				tags: true,
				multiple: false,
				  ajax: {
				    url: route.concat("autocompletefulltext"),
				    data: function (params) {
				      var query = {
					q: params.term
				      }				      
					
				      return query;
				    },
					processResults: function(data) {
					       return {results: data};
					}
				  }
				});

		$('#elastic_search_institution').select2({
				//width: "300px",
				tags: true,
				tokenSeparators: ['|'],
				  ajax: {
				    url: route.concat("autocompletegetall/institution"),
					processResults: function(data) {
				       return {results: data};
					}
				  }
				});
                
            var process_select2_data=function(id_ctrl)
             {
                var vals=Array();
                var tmp=$('#elastic_search_institution').select2('data');
                $.each($('#elastic_search_institution').select2('data'),
                        function(idx, tmpval)
                        {
                            vals.push(tmp[idx].id);
                        }
                    
                    );
                
                return vals.join("|");    
             }            
                
       		$('#elastic_search_collection').select2({
				//width: "300px",
				tags: true,
				tokenSeparators: ['|'],
				  ajax: {
				    url: route.concat("autocompletegetall/collection"),
                    data: function (params) {
				      var query = {
					institutions: process_select2_data("#elastic_search_institution")
				      }	      
					
				      return query;
				    },
					processResults: function(data) {
				       return {results: data};
					}
				  }
				});



		$('#elastic_search_who').select2({
				//width: "300px",
				tags: true,
				tokenSeparators: ['|'],
				  ajax: {
				    url: route.concat("autocompletewho"),
				    data: function (params) {
				      var query = {
					q: params.term
				      }

				      
					
				      return query;
				    },
					processResults: function(data) {
					       return {results: data};
					}
				  }
				});
                
        $('#elastic_search_where').select2({
				//width: "300px",
				tags: true,
				tokenSeparators: ['|'],
				  ajax: {
				    url: route.concat("autocompletewhere"),
				    data: function (params) {
				      var query = {
					q: params.term
				      }

				      
					
				      return query;
				    },
					processResults: function(data) {
					       return {results: data};
					}
				  }
				});
                
        $('#elastic_search_what').select2({
				//width: "300px",
				tags: true,
				tokenSeparators: ['|'],
				  ajax: {
				    url: route.concat("autocompletewhat"),
				    data: function (params) {
				      var query = {
					q: params.term
				      }

				      
					
				      return query;
				    },
					processResults: function(data) {
					       return {results: data};
					}
				  }
				});
                
                $('.select2').on('select2:select', function () { $("select[id^=edit-term] option").each(function() { var val = $(this).val(); $(this).siblings("[value='"+ val +"']").remove(); }); });
                /*$('.select2').on('select2:select', function (e) {
                   alert("debug");
                   var data=$(this).select2('data');
                   var alreadyThere=Array();
                   $(this).val("");
                   $.each(data, 
                            function(key,item)
                            {
                                   
                                    if(alreadyThere.indexOf(data[key].id)==-1)
                                    {
                                        alert(data[key].id);
                                        alreadyThere.push(data[key].id);
                                        var newOption = new Option(data[key].id, data[key].id, true, true);
                                        $(this).append(newOption).trigger('change');
                                        $(this).trigger({
                                            type: 'select2:select',
                                            params: {
                                            data: {id:data[key].id, text:data[key].id}
                                            }
                                            });
                                        
                                    }
                            }
                   );
                });*/
                
      $('.date_picker_nh').datepicker({
            format: 'yyyy-mm-dd',
              });

	}
);
</script>
