<form>
<input type="hidden" id="base_url" value="{{url('homepage')}}"></input>
<table>
<tr>
<td>
Free text:
</td>
<td>
<select id="elastic_search_freetext" class="select2" style='width:300px'></select>
</td>
<td>
</td>
<td>
<input type="button" id="toogle_details" name="toggle_details" value="Detailed Search"></input>
</td>
</tr>
<tr class="detailed_search" style="display:none">
<td>
	Institution:
</td>
<td>
	<select id="elastic_search_institution" class="select2" multiple="multiple" style='width:300px' ></select>
</td>
</tr>
<tr class="detailed_search" style="display:none">
<td>
	Collection:
</td>
<td>
	<select id="elastic_search_collection" class="select2" multiple="multiple" style='width:300px' ></select>
</td>
</tr>
<tr class="detailed_search" style="display:none">
<td>
	What:
</td>
<td>
	<select id="elastic_search_what" class="select2" multiple="multiple" style='width:300px' ></select>
</td>
</tr>
</tr>
<tr class="detailed_search" style="display:none">
<td>
	Who:
</td>
<td>
	<select id="elastic_search_who" class="select2" multiple="multiple" style='width:300px' ></select>
</td>
</tr>
<tr class="detailed_search" style="display:none">
<td>
	Where:
</td>
<td>
	<select id="elastic_search_where" class="select2" multiple="multiple" style='width:300px' ></select>
   
</td>
</tr>
<tr class="detailed_search" style="display:none">
<td>
	When (begin date):
</td>
<td>
	 <input id="elastic_search_when_start" class="date_picker_nh" data-provide="datepicker">
</td>
<td>
	When (end date):
</td>
<td>
	 <input id="elastic_search_when_end" class="date_picker_nh" data-provide="datepicker">
</td>
</tr>
</table>
</div>
<br/>
 <button type="button" id="solr_search" class="nh_submit">Search</button> 
</form>

<div id="result_search">
</div>


</body>
<script language="javascript">
var hide_details=false;
var route;
$(document).ready(
	
	function()
	{

		route=$("#base_url").val();
		$("#toogle_details").click(
			function()
			{

				hide_details=!hide_details;
				if(hide_details)
				{
					$(".detailed_search").show();
				}
				else
				{
					$(".detailed_search").hide();
				}
			}
		);

		$('#elastic_search_freetext').select2({
				//width: "300px",
				tags: true,
				multiple: false,
				  ajax: {
				    url: route.concat("autocompletefulltext"),
				    data: function (params) {
				      var query = {
					q: params.term
				      }

				      
					
				      return query;
				    },
					processResults: function(data) {
					       return {results: data};
					}
				  }
				});

		$('#elastic_search_institution').select2({
				//width: "300px",
				tags: true,
				tokenSeparators: ['|'],
				  ajax: {
				    url: route.concat("autocompletegetall/institution"),
					processResults: function(data) {
				       return {results: data};
					}
				  }
				});
                
       		$('#elastic_search_collection').select2({
				//width: "300px",
				tags: true,
				tokenSeparators: ['|'],
				  ajax: {
				    url: route.concat("autocompletegetall/collection"),
					processResults: function(data) {
				       return {results: data};
					}
				  }
				});



		$('#elastic_search_who').select2({
				//width: "300px",
				tags: true,
				tokenSeparators: ['|'],
				  ajax: {
				    url: route.concat("autocompletewho"),
				    data: function (params) {
				      var query = {
					q: params.term
				      }

				      
					
				      return query;
				    },
					processResults: function(data) {
					       return {results: data};
					}
				  }
				});
                
        $('#elastic_search_where').select2({
				//width: "300px",
				tags: true,
				tokenSeparators: ['|'],
				  ajax: {
				    url: route.concat("autocompletewhere"),
				    data: function (params) {
				      var query = {
					q: params.term
				      }

				      
					
				      return query;
				    },
					processResults: function(data) {
					       return {results: data};
					}
				  }
				});
                
        $('#elastic_search_what').select2({
				//width: "300px",
				tags: true,
				tokenSeparators: ['|'],
				  ajax: {
				    url: route.concat("autocompletewhat"),
				    data: function (params) {
				      var query = {
					q: params.term
				      }

				      
					
				      return query;
				    },
					processResults: function(data) {
					       return {results: data};
					}
				  }
				});
                
      $('.date_picker_nh').datepicker({
            format: 'yyyy-mm-dd',
              });

	}
);
</script>