<p id="float_button">
<img src="{{asset('assets/img/button_ok.png')}}" class="search_dem nav_icon" title="search" />
<img src="{{asset('assets/img/checkbox_checked.png')}}" class="btnSelectAll nav_icon" title="select all" />
<img src="{{asset('assets/img/checkbox_unchecked.png')}}" class="btnDeselectAll nav_icon " title="unselect all" />
<img src="{{asset('assets/img/magnifier.gif')}}" class="full_screen nav_icon nav_icon_last" title="full screen" />
</p>