
#float_button
{
  position: fixed;
  left: 0px;
  width: 20px ;
  line-height: 300% ;
  padding-left: 2px;
  padding-right: 2px ;
  top : 35%;
  display: block;
  text-align: center;
  background-color: #C1CF56 ;
  -webkit-border-radius: 0 5px 5px 0 ;
  -moz-border-radius: 0 5px 5px 0 ;
  -ms-border-radius: 0 5px 5px 0 ;
  -o-border-radius: 0 5px 5px 0 ;
  border-radius: 0 5px 5px 0 ;
}

#float_button > a
{
  width: 30px ;
  border-bottom: 1px solid #525A20;
  padding-bottom: 4px;
}

#float_button .submit_image
{
  border-bottom: 1px solid #525A20;
  cursor: pointer;
  padding-bottom: 4px;
}

#float_button .submit_image:hover, #float_button > a:hover
{
  border-bottom: 1px solid white;
}


#map
{
 margin-left: 50px;
 }
 
#facet_what
{
 margin-left: 50px;
 }
 
.nav_icon
{
 padding-top: 10px;
 }
 
 .nav_icon_last
{
 padding-bottom: 10px;
 }
 
 .link a
 {	 
	color: blue 
 }
 
 .right-sec .thumbnail a {
font-family: 'Montserrat',Arial,Helvetica,sans-serif;color: #3366BB;
font-size: 19px;
font-family: inherit;}

.instilink img{
	width : auto;
	height: auto;
	
}