
#float_button
{
  position: fixed;
  left: 0px;
  width: 20px ;
  line-height: 300% ;
  padding-left: 2px;
  padding-right: 2px ;
  top : 35%;
  display: block;
  text-align: center;
  background-color: #C1CF56 ;
  -webkit-border-radius: 0 5px 5px 0 ;
  -moz-border-radius: 0 5px 5px 0 ;
  -ms-border-radius: 0 5px 5px 0 ;
  -o-border-radius: 0 5px 5px 0 ;
  border-radius: 0 5px 5px 0 ;
}



#float_button > a
{
  width: 30px ;
  border-bottom: 1px solid #525A20;
  padding-bottom: 4px;
}

#float_button .submit_image
{
  border-bottom: 1px solid #525A20;
  cursor: pointer;
  padding-bottom: 4px;
}

#float_button .submit_image:hover, #float_button > a:hover
{
  border-bottom: 1px solid white;
}

#float_button_map
{
  position: fixed;
  left: 0%;
  width: 20px ;
  line-height: 300% ;
  padding-left: 2px;
  padding-right: 2px ;
  top : 50%;
  display: block;
  text-align: center;
  background-color: #C1CF56 ;
  -webkit-border-radius: 0 5px 5px 0 ;
  -moz-border-radius: 0 5px 5px 0 ;
  -ms-border-radius: 0 5px 5px 0 ;
  -o-border-radius: 0 5px 5px 0 ;
  border-radius: 0 5px 5px 0 ;
}

#map
{
 margin-left: 50px;
 }
 
#facet_what
{
 margin-left: 50px;
 }
 
.nav_icon
{
 padding-top: 10px;
 }
 
 .nav_icon_last
{
 padding-bottom: 10px;
 }
 
 .link a
 {	 
	color: blue 
 }
 
 .right-sec .thumbnail a {
font-family: 'Montserrat',Arial,Helvetica,sans-serif;color: #3366BB;
font-size: 19px;
font-family: inherit;}

.instilink img{
	width : auto;
	height: auto;
	
}

.padding-left {
  padding-left:30px;

}

.nh_spinner{
	top:50%;
	left:50%;
	display:none;
	
}

.current-page
{
	border-style:solid;
	border-width: 3px;
	font-weight : bold;
	
}

.standalone-header
{
    margin-top: 2%;
    margin-bottom: 2%;
    
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img_search {
    display: block;
    max-width: 20px;
    max-height:  20px;
    width: auto;
    height: auto;
}

.div_search {
    outline: none; 
    text-decoration: none;
    color: rgb(32, 92, 144);
    font-family: trebuchet ms,helvetica,sans-serif;
    
    font-size:  14 px;
    cursor: pointer;
    display:inline-block;
}

.search_font
{
    outline: none; 
    text-decoration: none;
    color: rgb(32, 92, 144);
    font-family: trebuchet ms,helvetica,sans-serif;
    font-size:  14 px;
}

.img_institution {
    display: block;
    max-width: 100%;    
    width: auto;
    height: auto;
    margin-top:15%;
    margin-bottom:15%;
}

.hide_frame
{
	
		display : none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}